body {
  background: pink;
}

.App {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
}

h1.top {
  margin-top: 10vh;
  width: 400px;
  align-self: center;
}

button.fact {
  border: 2px solid #d24d57;
  width: 90px;
  align-self: center;
  border-radius: 4px 8px;
}

div.power {
  margin-top: 40px;
  padding-top: 20px;
  width: 720px;
  height: auto;
  word-wrap: break-word;
  align-self: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  background-color: aquamarine;
}

@media (min-width: 480px) and (max-width: 600px) {
  .App {
    text-align: center;
    -ms-flex-align: center;
    width: auto;
    margin-top: 10vh;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  h1 {
    align-self: center;
    width: 400px;
  }

  div.power {
    margin-top: 40px;
    padding-top: 20px;
    width: auto;
    height: auto;
    word-wrap: break-word;
    align-self: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    background-color: aquamarine;
  }
}
